{% extends "layout.html" %}


{% block body %}

    {% if not cunit %}
        <form action="" method="post" >
                <label for="weight">Enter the weight to convert:</label><br>
                <input type="number" autocomplete="off" autofocus id="weight" name="weight"required><br><br>
                <label for="funit">Unit to convert from:</label><br>
                <select name="unit" required>
                    <option selected value="">weight units</option>
                    {% for unit in weight_units %}
                    <option value="{{unit}}">{{unit}}</option>
                    {%endfor%}
                </select><br><br>
                <label for="tunit">Unit to convert to:</label><br>
                <select name="tunit" required>
                    <option selected value="">weight units</option>
                    {% for tunit in weight_units %}
                    <option value="{{tunit}}">{{tunit}}</option>
                    {%endfor%}
                </select><br><br>
                <button type="submit">Submit</button>
            </form> 
    {% endif %}

    {% if cunit %}

        <h3>Result of your calculation</h3>
        <h2>{{orignal_value}} {{unit}}={{cunit}} {{tunit}}</h2>
        <button onclick="history.back()">Reset</button>

    {% endif %}

{% endblock %}